# Byte-compiled / optimized / DLL files 
__pycache__/ 
*.pyc 
*__pycache__ 
*.so 
 
# Virtual environment 
venv/ 
 
# Environment variables 
.env 
 
# IDE and OS files 
.vscode/ 
.idea/ 
*.DS_Store 

cqia_reports/

vector_db_store/
# Python build artifacts
build/
dist/
*.egg-info/

# Node.js dependencies and lock files
node_modules/
package-lock.json