# Core AI Framework
langchain
langchain-groq
langchain_community
faiss-cpu
sentence-transformers
langgraph
langchain_core

# Environment & CLI
python-dotenv
click

tree-sitter==0.21.0
tree-sitter-languages==1.10.2
pydantic

rich 
matplotlib